.advantage__title{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    padding: 50px 0 50px 0;
}
.advantage__title::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: calc(100% - 15px);
    background: var(--after-border-color);
}
.advantage__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.advantage__item-heading{
    max-width: 40%;
    display: flex;
    align-items: center;
}
.advantage__item-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #1e1e1e;
    padding: 6px;
    box-shadow: .4rem .6rem 2.4rem rgba(13,13,13,.85),-.6rem -.3rem 2rem rgba(65,65,65,.55),inset .2rem .2rem 1.2rem #000;
    border: 1px solid #474747;
    flex-shrink: 0;
    margin-right: 100px;  
}
.advantage__item-title{
    font-size: 20px;
    font-weight: 500;
}
.advantage__item-text{
    width: 50%;
    font-size: 18px;
    font-weight: 400;
}
.advantage__item-link{
    position: relative;
    font-weight: 700;
}
.advantage__item-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,#0085FF 0%,#00E0FF 100%);
    box-sizing: 0.2rem 0.2rem 0.4rem #000;
}