
.header__burger{
    display: none;
}
.header__heading-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
}
.header__heading{
    position: relative;
}
.header__heading::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
}
.header__img{
    width: 150px;
    height: 40px;
}
.header__logo-wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.header__info-text{
    margin-left: 15px;
}
.header__heading-right{
    display: flex;
    justify-content: space-between;
}
.header__button{
    margin-left: 20px;
    position: relative;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border-radius: 10rem;
    border: 5px solid var(--main-border-color);
    padding: 4px 30px;
    font-size: 14px;
    font-weight: 400;
}
.header__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 18px 27px;
    font-size: 18px;
}
.header__nav{
    position: relative;
}
.header__nav::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
}
.underline{
    position: relative;
    overflow-x: hidden;
}
.underline::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-name: moveX;
    animation-timing-function: linear;
} 
@keyframes  moveX {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}  
.header__nav-item:hover{
    color: var(--main-border-color);
}







